<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-input readonly="true" label="Senha:" value="{{inputNovaSenha}}"></ion-input>
      </ion-card-header>
      <ion-button (click)="senhasService.somaPrior" color="primary">SP</ion-button>
      <ion-button (click)="senhasService.somaGeral" color="dark">SG</ion-button>
      <ion-button (click)="senhasService.somaExame" color="warning">SE</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header> Últimas Senhas Atendidas:</ion-list-header>
        <ion-item *ngFor="let senha of senhasService.senhas">
          <ion-icon [name]="senha.icon" [color]="senha.color"></ion-icon>
          <ion-label>{{ senha.numero }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
